@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 300;
}
body ::-webkit-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: 300;
}


.wrapper {
    margin: 20px auto;
    width: 300px;
}


#page2 .passowrd-wrapper{
    margin: 20px auto;
    width: 300px;

}

#page3 .registration-wrapper {
    margin: 20px auto;
    width: 300px;
}

.container {
    background-color:orange;
    padding: 20px;
    border-radius: 5px
}

#page2 .password-container{
    background-color: orange;
    padding: 20px;
    border-radius: 5px
}

#page3 .registration-container {
    background-color: lightgoldenrodyellow;
    padding: 20px;
    border-radius: 5px
}

